{% extends 'base.html' %}

{% block content %}

<div class='container'>
  <h1 style='text-align:center'>StreetSafe.co and Vision Zero NYC</h1>

  <br><br>

  <p style='text-align:left'>

  Street Safe is a visualization tool that shows vehicle collision data from the
  city of New York in a heatmap overlayed on a map of the city proper. The
  purpose of the tool is to educate the people of NYC about dangerous roads and
  intersections, and ultimately to prevent further injuries and fatalities
  resulting from the collisions. The following excerpt is from Vision Zero
  campaign website by the city of New York, linked at the bottom of this page.
  <br><br>
  <i>The primary mission of government is to protect the public. New York’s families
  deserve and expect safe streets. But today in New York, approximately <b>4,000
    New Yorkers are seriously injured and more than 250 are killed each year</b>
  in traffic crashes. Being struck by a vehicle is the leading cause of
  injury-related death for children under 14, and the second leading cause for
  seniors. On average, vehicles seriously injure or kill a New Yorker every two
  hours. 
  <br><br>
  This status quo is unacceptable. The City of New York must no longer regard
  traffic crashes as mere “accidents,” but rather as preventable incidents that
  can be systematically addressed. No level of fatality on city streets is
  inevitable or acceptable. This Vision Zero Action Plan is the City's foundation
  for ending traffic deaths and injuries on our streets. The City will use every
  tool at its disposal to improve the safety of our
  streets.
  <br><br>
  Traffic fatalities in New York have indeed fallen significantly, from 701 in
  1990, to 381 in 2000, to an all-time low of 249 in 2011. The city has become
  nationally and internationally recognized as a leading innovator in safe
  street designs. At locations where the New York City Department of
  Transportation has made major engineering changes since 2005, fatalities have
  decreased by 34%, twice the rate of improvement at other locations. But it is
  still not enough. We can, and must, do better.</i>
  <br><br>
  It will take citizen action from the grassroots up to approach a problem of
  this scale and make our streets safer. This is where tools like Street Safe come in.
  </p>
  <h2 style="text-align:center"> <a href='http://www.nyc.gov/html/visionzero/pages/home/home.html'>Learn more here</a>.<h2>
</div>
{% endblock %}
